

{% autoescape true %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tweet Archival</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/static/bootstrap-responsive.css">
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
  <style type="text/css">
  body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
    </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <a class="brand" href="/">Back to Main Page</a>
      </div>
    </div>
  </div>
  <br><br><br><br>


<div class="container">
  {% for tweet in tweets %}
  <h1> {{ tweet.word }} </h1>
 {% for t in tweet.recentTweets %}
    {% if t %}
    {{ tweet.timestamp[loop.index0]}}: <a href="https://twitter.com/statuses/{{tweet.url[loop.index0]}}"> {{ t }} </a> <br>
    {% endif %}
    {% endfor %} 
  {% endfor %}
</div>

</body>
</html>
{% endautoescape %}
